* {
    padding: 0px;
    margin: 0px;
}

.max-width {
    width: 99%;
    margin: 0;
}

.height-main {
    height: 90vh;
}

.img-circle{
    height: 30px;
    width:30px;
    position: relative;
    top: 14.5rem;
    left: 13.3rem;
}

.vist-img {
    background-image: url('/public/images/Rectangle\ 1128.png');
    width: 99%;
    height: 89%;
    position: absolute;

}


.vist-avtar {
    position: relative;
    top: 6em;
    font-size: 20px;
    left: 17rem;
}

.btn-containter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


    width: 50%;
    position: relative;
    top: -3rem;
}

.btn-view {
    width: 100px;
    height: 30px;
    background: #30146C;
    color: #FCC810;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    top: 150px;
    left: 55em;
    margin-bottom: 8px;
}

.img-width {
    height: 80px;
    line-height: 0px;
}

.left-img {
    width: 85%;
    height: 78vh;
    margin-right: 20px;
    margin: 0 auto;
}

.right-img {
    width: 85%;
    margin-left: 20px;
    margin: 0 auto;

}

.width-col {
    width: 20% !important;
    /* margin-top: 10px; */
}

.label-text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 25px;
    margin-top: 20px;
}

.product-img {
    width: 99%;
}

.width-col1 {
    width: 20%;
    /* margin-left: 20px; */
}

.listing-product {
    width: 97%;
    gap: 2px;
}

.food-girl-img {
    width: 100%;
}

@media (max-width: 768px) {
    .height-main {
        width: 100% !important;
        height: 100% !important;
    }

    .vist-img {
       background-image: url('/public/images/Rectangle\ 1128.png');
       height: 100px;
       width: 99%;
    }

    .vist-img-position {
        width: 20% !important;
        top: 20px !important;
        
    }

    .btn-view {
        top: 36px;
        left: 458px;
    }
}

.icons-links a {
    text-decoration: none;
    color: black;
}

/* .icons-links a:focus{
    background: #30146C;
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
} */

.amp-stories {
    background-color: #30146C;
    color: white;
    border-radius: 50%;
    padding: 10px;
    width: 130px;
}


.center-main{
    width: 60%;
    padding-top: 5px;
}
.icon-section{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #F8F6EF;
    box-shadow: 2px 2px 5px #00000085;
    border-radius: 15px;
}
.icon-section a{
    text-align: center;
    text-decoration: none;
    background: transparent;
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 108px;
}
.icon-section a:focus{
    background: #ff2929;
}

.icon-section p{
    font-size: 14px;
    color: #121111;
    font-weight: 600;
    line-height: 25px;
}

.visit-img-position{
    background-image: url('/public/images/Group\ 3465296.png');
    height: 54%;
    width: 20.1%;
    position: relative;
    top: 14.5rem;

}

#customButton {
    color: black;
    border: none;
    background: none;
    cursor: pointer;
   

  }
#input-file{
    display: none;
    
}