.container-width {
    width: 99%;
}

.center {
    width: 100%;
    background: #160966;

    padding: 15px;
    margin-left: -15px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.search-bar {
    width: 100px;

    margin: 0 auto;
    border-radius: 20px !important;
    position: relative;


}

.icon {
    position: absolute;
    right: 100%;
    left: 50%;
    color: #160966;


}

.oval-carousel {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    /* Make each item take up the full width */
}

.carousel-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel-button {
    background-color: #007BFF;
    /* Blue background */
    color: #fff;
    /* White text */
    border: none;
    padding: 5px 5px;
    border-radius: 50px;
    /* Border radius to create an oval shape */
    cursor: pointer;
}

.tube-text {
    width: 50%;
    margin: 0 auto;
}

.tube-img {
    width: 50px;
    /* border-radius: 100px; */
    height: 50px;

}

.tube-title {
    font-size: 13px;
    margin-left: 10px;
}

.product-dol {
    width: 20% !important;
    height: 100px !important;
    background-repeat: cover;
    background-position: cover;
}

.cara-btn {
    width: 50%;
    margin: 0 auto;
}

.channels-heading h3 {
    color: #160966;
    font-weight: 700;
    font-size: 18px;
}

.channels-heading {
    background: rgb(217, 217, 217);
    text-align: center;
    padding: 5px;
    margin: -49px 14px -7px;
    box-shadow: rgb(185, 185, 185) 1px 0px 2px;
}
