* {
    padding: 1px;
    margin: 0px;
}

.max-width {
    width: 99%;
    margin: 0;
}

.max-width-2 {
    width: 99%;
    margin: 0;
}

.height-main {
    background-image: url('/assets/images/Rectangle\ 1128.png');
    width: 101%;
    height: 108vh;

}

.visit-image-2{
    background-image: url('/assets/images/Group\ 3465296.png');
    background-size: cover;
    height: 48vh;
    width: 20%;
    margin-top: 18.9rem;
}


.visit-image-position-2{
    margin-top: 20px;
}

.fluid-main{
    margin: 0;
    padding: 1px;    
}
.btn-profile-2{
    float: right;
    top: 5px;
    right: 3px;
    background-color: #30146C;
    border-radius: 5px;
}

.btn-container-2{
    float: right;
    background-color: #30146C;
    border-radius: 5px; 
    position: relative;
    bottom: 4rem;
    right: 3px;
}
.img-circle{
    float: right;
    text-align: center;
    margin-top: 14.7rem;
    width: 16%;
}
.vist-img-2 {
    width: 100%;
    height: 89%;
    position: absolute;

}

.vist-img-position {
    position: relative;
    top: 13em;
}

.img-size{
    width:23px;
height:23px;
}
.vist-avtar {
    position: relative;
    top: 13em;
    font-size: 20px;
}

.btn-containter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


    width: 50%;
}


.btn-view {
    width: 100px;
    height: 30px;
    background: #30146C;
    color: #FCC810;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    top: 150px;
    left: 55em;
    margin-bottom: 8px;
}

.img-width {
    height: 80px;
    line-height: 0px;
}

.img-width-2 {
    height: 80px;
    line-height: 0px;
}

.left-img {
    width: 85%;
    height: 78vh;
    margin-right: 20px;
    margin: 0 auto;
}

.right-img {
    width: 85%;
    margin-left: 20px;
    margin: 0 auto;

}

.width-col {
    width: 20% !important;
    /* margin-top: 10px; */
}

.width-col-2 {
    width: 20% !important;
    /* margin-top: 10px; */
}

.btn-continue{
    background-color: #30146C;
   
}

.label-text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 25px;
    margin-top: 20px;
}

.labeled-text{
    color: #30146C;
}

.product-img {
    width: 99%;
}

.width-col1 {
    width: 20%;
    /* margin-left: 20px; */
}

.listing-product {
    width: 97%;
    gap: 2px;
}

.listing-product2 {
    width: 100%;
    gap: 20px;
}
.food-girl-img {
    width: 100%;
}

@media (max-width: 768px) {
    .height-main {
        width: 100% !important;
        height: 100% !important;
    }

    .vist-img {
        width: 100%;
        height: 100%;
    }

    .vist-img-position {
        width: 20% !important;
        top: 20px !important;
    }

    .btn-view {
        top: 36px;
        left: 458px;
    }
}

.icons-links a {
    text-decoration: none;
    color: black;
}

.icons-links-2 a {
    text-decoration: none;
    color: black;
}

/* .icons-links a:focus{
    background: #30146C;
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
} */

.amp-stories {
    background-color: #30146C;
    color: white;
    border-radius: 50%;
    padding: 10px;
    width: 130px;
}