.center-main{ 
    background-color: #110C46;
    border: 20px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    
}

.post{
    margin-left: 30%;
}
.bd-highlight{
    width: 100px;
    
}