body{
    font-family: sans-serif;
}

.credit-wallet{
   
    height: 43px;
    padding-inline:7px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}


.img-wallet{
    height: 20px;
    width: 20px;
}

.wallet{
    background-color:#FFB802;
    height: 34px;
    width: 15%;
    border-radius: 18px;
    border: none;
    position: relative;
    left: 44rem;
}

.withdraw{
    font-weight: 550;
}

.money{
    background-color: #D9D9D9;
    height: 35px;
    width: 50%;
   border-radius: 18px;
    border: none;
    position: relative;
    right: 2rem;
}

.add{
    background-color: #FFB802;
    height: 35px;
    width: 50%;
    border-radius: 18px;
    border: none;

}

.add-save{
    width: 100%;
}
.send{
    font-size: smaller;
    font-weight: bold;
}

.send-add{
    position: relative;
    left: 38.5rem;
    width: 30%;
}

.wallet{
 float: right;
}

.credit{
    background-color: #FFFFFF;
    border: none;
}

.center-main{
    width: 79%;
    background-color: #FFFFFF;
}

.price{
    color: #FFB802;
    font-weight: bold;
}

.img-rectangle{
    height: 37%;
    width: 70%;
    position: relative;
    left: 7rem;
    top: 5rem;
}

.monetize{
    position: relative;
    top: 10rem;
    left: 25rem;
    height: 38px;
    width: 19%;
    background-color: #FFB802;
    border: none;
    border-radius: 20px;
}

.credit{
    font-weight: bold;
}

.content{
    font-weight: bold;
}

.amount{
    position: relative;
    left: 11rem;
    top: -1.5rem;
}