.my-groups .group-box{
    width: 450px;
}
.my-groups .group-box .box-header{
    height:fit-content;
}
.my-groups .group-box .members i, .my-groups .group-box .members span{
    font-size: 20px;
}
.my-groups .group-box .box-footer i{
    font-size: 25px;
    font-weight: 600;
}
.my-groups .group-box .box-footer .public-text{
    color: red;
}
.my-groups .group-box{
    border-bottom-left-radius: 11rem;
}


.sidebar{
    height: 150vh;
}
.my-channels .channels-box{
    height: 225px;
    width: 90%;
    background: #30146C;
    border-radius: 10px;
    padding: 5px;
    border-bottom-left-radius: 8rem;
}
.my-channels .channels-box .box{
    width: 100%;
 border-radius: 5px;
}
.my-channels .channels-box .box .title h2{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    /* letter-spacing: 0.4px; */
}
.my-channels .channels-box .box .title span{
    color: #F70404;
    font-family: sans-serif;
    font-weight: 500;
}
.my-channels .channels-box .box .content p{
    color: black;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 4px;
}
.my-channels .channels-box hr{
    margin: 4px 0px !important;
    margin-top: -4px !important;
}

.my-channels .channels-box .members i, .my-channels .channels-box .members span{
    font-size: 12px;
    margin-left: 5px;
}
.my-channels .channels-box .box-footer i, .my-channels .channels-box .box-footer .admin-text{
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 500;
    margin-left: 5px;
}

.my-channels .channels-box .box-footer .boost-text {
    color: #16146C;
    font-family: sans-serif;
    font-weight: 500;
}

.create-now-btn{
    background-color: #16146C;
    color: white;
    padding: 10px;
    border-radius: 10px 15px;
    border: none;
}
.create-now-btn:hover{
    color: white;
    border: none;
    outline: none;
}
.create-now-box ul{
    box-shadow: 0px 0px 2px rgb(190, 189, 189);
}
.create-now-box ul .dropdown-header i{
color: #16146C;
font-size: 20px;
}
.create-now-box  .icon-items{
    font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
}
.create-now-box  .icon-items i{
    color: #16146C;
}

.create-now-box ul .dropdown-header span{
    color: #30146C;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    /* width: fit-content; */
}

.create-now-box .footer-btn{
    width:212.57px;
    background-color: #16146C;
    color: white;
    border-radius: 20px;
}


/* // model css */

.modal{
    --bs-modal-width: 800px !important;
}
.modal form{
    gap: 10rem !important;
    background: #ededed;
}
.modal form .form{
    width: 50%;
}

/* Custom styles */
.file-input-container {
    position: relative;
    display: inline-block;
  }

  .file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .upload-icon {
    width: 50px; /* Adjust the icon size */
    height: 50px; /* Adjust the icon size */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .modal form .form select{
    background-color: #ededed;
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0px;
    font-size: 14px;
    cursor: pointer;
  }
  .modal form .form select:focus{
    border: none !important;
    box-shadow: none;
  }
  .modal form .form label{
    font-size: 15px;
  }
  .modal form .form p{
    background: #EAE6E6;
    padding: 8px;
    font-size: 15px;
  }
  .modal form .submit-btn{
    margin-top: 2rem;
    width:212.57px;
    background-color: #16146C;
    color: white;
    border-radius: 20px;
  }
